html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, system-ui, sans-serif;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: Poppins, system-ui, sans-serif;
}

a {
  padding: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
